[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = '~=1.14.28'
cmreshandler = "==1.0.0"
Django = "==3.2.8"
django-nose = "~=1.4.6"
django-storages = "==1.9.1"
djangorestframework = "~=3.11.0"
model-bakery = '==1.1.1'
psycopg2-binary = "==2.8.6"
requests = "~=2.25"
uvicorn = "==0.14.0"
drf-yasg = "==1.20.0"
django-cors-headers = "==3.6.0"
django-filter = "==2.4.0"
django-environ = "==0.4.5"
pyodbc="~=4.0.32"
django-redis = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.8"
